#include <dt-bindings/zmk/matrix_transform.h>
#include "chuck-layouts.dtsi"

/ {
    chosen {
        zmk,physical-layout = &charlieflex_layout22;
    };

    charlieflex_transform_22: keymap_transform_22 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <6>;
        //  3-0  0-1  4-1  1-2                   1-3  1-4  0-4  3-5
        //  2-0  5-0  3-1  0-2  4-2         4-3  0-3  3-4  0-5  2-5
        //  1-0  4-0  2-1  5-1  3-2   6-1   2-3  5-4  2-4  4-5  1-5
        //                      5-2 5-3 6-3 6-2
        map = <
            RC(3,0) RC(0,1) RC(4,1) RC(1,2)                                 RC(1,3) RC(1,4) RC(0,4) RC(3,5)
            RC(2,0) RC(5,0) RC(3,1) RC(0,2) RC(4,2)                 RC(4,3) RC(0,3) RC(3,4) RC(0,5) RC(2,5)
            RC(1,0) RC(4,0) RC(2,1) RC(5,1) RC(3,2)     RC(6,1)     RC(2,3) RC(5,4) RC(2,4) RC(4,5) RC(1,5)
                                            RC(5,2) RC(5,3) RC(6,3) RC(6,2)
        >;
    };

    charlieflex_transform_21: keymap_transform_21 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <6>;
        //  3-0  0-1  4-1  1-2                   1-3  1-4  0-4  3-5
        //  2-0  5-0  3-1  0-2  4-2         4-3  0-3  3-4  0-5  2-5
        //  1-0  4-0  2-1  5-1  3-2   6-1   2-3  5-4  2-4  4-5  1-5
        //                      5-2 5-3 6-3
        map = <
            RC(3,0) RC(0,1) RC(4,1) RC(1,2)                                 RC(1,3) RC(1,4) RC(0,4) RC(3,5)
            RC(2,0) RC(5,0) RC(3,1) RC(0,2) RC(4,2)                 RC(4,3) RC(0,3) RC(3,4) RC(0,5) RC(2,5)
            RC(1,0) RC(4,0) RC(2,1) RC(5,1) RC(3,2)     RC(6,1)     RC(2,3) RC(5,4) RC(2,4) RC(4,5) RC(1,5)
                                            RC(5,2) RC(5,3) RC(6,3)
        >;
    };

    charlieflex_transform_12: keymap_transform_12 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <6>;
        //  3-0  0-1  4-1  1-2                   1-3  1-4  0-4  3-5
        //  2-0  5-0  3-1  0-2  4-2         4-3  0-3  3-4  0-5  2-5
        //  1-0  4-0  2-1  5-1  3-2   6-1   2-3  5-4  2-4  4-5  1-5
        //                          5-3 6-3 6-2
        map = <
            RC(3,0) RC(0,1) RC(4,1) RC(1,2)                                 RC(1,3) RC(1,4) RC(0,4) RC(3,5)
            RC(2,0) RC(5,0) RC(3,1) RC(0,2) RC(4,2)                 RC(4,3) RC(0,3) RC(3,4) RC(0,5) RC(2,5)
            RC(1,0) RC(4,0) RC(2,1) RC(5,1) RC(3,2)     RC(6,1)     RC(2,3) RC(5,4) RC(2,4) RC(4,5) RC(1,5)
                                                    RC(5,3) RC(6,3) RC(6,2)
        >;
    };

    charlieflex_transform_11: keymap_transform_11 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <6>;
        //  3-0  0-1  4-1  1-2                   1-3  1-4  0-4  3-5
        //  2-0  5-0  3-1  0-2  4-2         4-3  0-3  3-4  0-5  2-5
        //  1-0  4-0  2-1  5-1  3-2   6-1   2-3  5-4  2-4  4-5  1-5
        //                          5-3 6-3
        map = <
            RC(3,0) RC(0,1) RC(4,1) RC(1,2)                                 RC(1,3) RC(1,4) RC(0,4) RC(3,5)
            RC(2,0) RC(5,0) RC(3,1) RC(0,2) RC(4,2)                 RC(4,3) RC(0,3) RC(3,4) RC(0,5) RC(2,5)
            RC(1,0) RC(4,0) RC(2,1) RC(5,1) RC(3,2)     RC(6,1)     RC(2,3) RC(5,4) RC(2,4) RC(4,5) RC(1,5)
                                                    RC(5,3) RC(6,3)
        >;
    };

    encoder: encoder {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <4>;
        status = "disabled";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <1>;
    };
};

// vim: expandtab softtabstop=4 shiftwidth=4
