config SHIELD_ONE_UP_CHUCK_UNIBODY
    def_bool $(shields_list_contains,one_up_chuck_unibody)

config SHIELD_ONE_UP_CHUCK_DONGLE
    def_bool $(shields_list_contains,one_up_chuck_dongle)

config SHIELD_ONE_UP_CHUCK_PERIPHERAL
    def_bool $(shields_list_contains,one_up_chuck_peripheral)
