config SHIELD_CHARLIEFLEX_UNIBODY
    def_bool $(shields_list_contains,charlieflex_unibody)

config SHIELD_CHARLIEFLEX_DONGLE
    def_bool $(shields_list_contains,charlieflex_dongle)

config SHIELD_CHARLIEFLEX_PERIPHERAL
    def_bool $(shields_list_contains,charlieflex_peripheral)
